@{
    ViewData["Title"] = "Home Page";
}





<div class='col-md-12'>
    <div class='form-group'>
        <div class="row" style="text-align:center">
            <h1 style="color:darkslategrey;"><strong> Technical test</strong></h1>
        </div>
        <div class="row" style="text-align:center">
            <h4><strong>  Omar Rodriguez</strong></h4>
        </div>
        <br />

    </div>
    <div class="row" style="text-align:center">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Person")'">Continue</button>
        
    </div>
</div>
