@model Web.Domain.Views.ListElement.ListElementCriteria



<div class="wrapper center-block">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-bottom:5px;">
        <div class="panel panel-default">
            <div class="panel-heading active" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" id="hide-filter-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Criteria
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body" style="background-color: azure">
                    <div class="row">

                        <form asp-action="_PersonFilter" id="formPersonFilter">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-lg-4 col-md-4 col-xs-12" style="padding-left:15px; padding-right:15px">
                                <div class="row" style="padding-left:10px">
                                    <div class="col-md-12" style="padding-right:15px">
                                        <div class="form-group">
                                            <label asp-for="currency" class="control-label"></label>
                                            <select asp-for="currency"
                                                    class="form-control"
                                                    asp-items="@(new SelectList(ViewBag.currencyList,"Value", "Text"))">
                                            </select>
                                            <span asp-validation-for="currency" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12" style="padding-left:15px; padding-right:15px">
                                <div class="row" style="padding-left:10px">
                                    <div class="col-md-12" style="padding-right:15px">
                                        <div class="form-group">
                                            <label asp-for="periodicity" class="control-label"></label>
                                            <select asp-for="periodicity"
                                                    class="form-control"
                                                    asp-items="@(new SelectList(ViewBag.periodicityList,"Value", "Text"))">
                                            </select>
                                            <span asp-validation-for="periodicity" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row " style="text-align:right; padding-right:30px">
                                <a class="btn btn-xs btn-default" style="width:120px" onclick="PersonFunctions.clearFilter();">Clear</a>
                                <a class="btn btn-xs btn-default" style="width:120px" onclick="PersonFunctions.setPersonFilter(false,1);">Find</a>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>$('.panel-collapse').on('show.bs.collapse', function () {
        $(this).siblings('.panel-heading').addClass('active');
    });

    $('.panel-collapse').on('hide.bs.collapse', function () {
        $(this).siblings('.panel-heading').removeClass('active');
    });</script>



